<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Concursos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="icon" href="favicon.png">
  </head>
  <body>
    {{ range .Contests}}
	<h1>{{ .ContestName }}</h1>
	<h2>{{ .StartDate }}</h2>
	<h2>{{ .EndDate }}</h2>
	<h2>{{ .OrganizerName }}</h2>
	<h2>{{ .ContestID }}</h2>
    {{ end }}
    </form>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
  </body>
</html>
