<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Problema</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="icon" href="favicon.png">
    <script src="https://unpkg.com/tiny-markdown-editor/dist/tiny-mde.min.js"></script>
    <link
        rel="stylesheet"
        type="text/css"
        href="https://unpkg.com/tiny-markdown-editor/dist/tiny-mde.min.css"
    />
  </head>
  <body>
    <h1>Añade un nuevo problema</h1>
    <form hx-encoding="multipart/form-data" hx-post="/contests/{{.ID}}/problems/new">
      <div>
	Nombre del problema: <input type="text" class="form-control" name="problem-name">
      </div>
      <div>
	Limite de tiempo: <input type="text" class="form-control" name="time-limit">
      </div>

    <div id="toolbar"></div>
    <div class="txtcontainer">
        <textarea id="txt" name="description"></textarea>
    </div>
    <script type="text/javascript">
    var tinyMDE = new TinyMDE.Editor({ textarea: "txt" });
    var commandBar = new TinyMDE.CommandBar({
        element: "toolbar",
        editor: tinyMDE,
    });
    </script>

    <!--   <div> -->
	<!-- Enunciado: <input type="file" class="form-control" name="description"> -->
    <!--   </div> -->

      <div>
	Entrada: <input type="file" class="form-control" name="inputs" multiple>
      </div>

      <div>
	Salida: <input type="file" class="form-control" name="outputs" multiple>
      </div>

      <div class="mt-2">
	<button class="btn btn-primary" hx-post="/contests/{{.ID}}/problems/new" hx-target="#responseDiv" hx-target="innerHTML">
	  Enviar
	</button>
      </div>

      <div class="mt-2" id="responseDiv">
      </div>
    </form>

    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
  </body>
</html>
